@using WebApp.EntityModels
@model Chat

<div class="d-flex flex-column h-100">
    <div class="position-relative">
        <a class="btn btn-danger position-absolute left top zIndexUp" asp-action="ChatSettings" asp-controller="Chat" asp-route-ChatId="@Model.Id">Settings</a>
    </div>
    <div class="chat-body">
        @foreach (var message in Model.Messages)
        {
            <div class="message">
                <header>@message.Name:</header>
                <p>@message.Text</p>
                <footer>@message.Timestamp</footer>
            </div>
        }
    </div>
    <form class="chat-input" onsubmit="sendMessage(event)" asp-controller="Chat" asp-action="CreateMessage">
        <input type="hidden" name="roomId" value="@Model.Id">
        <input type="text" name="message" id="message-input" required max="150">
        <button type="submit" class="btn btn-warning min-w-200"><img class="h-100" src="/Images/Embedded/send.png" alt="" /></button>
    </form>
</div>

<script src="~/lib/signalr/signalr.js"></script>
<script src="~/js/messageBuilder.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    var connection = new signalR.HubConnectionBuilder()
        .withUrl("/chatHub")
        .build();

    var _connectionId = '';

    connection.on("RecieveMessage", function (data) {
        var message = messageBuilder()
            .createMessage()
            .withHeader(data.name)
            .withParagraph(data.text)
            .withFooter(data.timestamp)
            .build();

        document.querySelector('.chat-body').append(message);
    })

    connection.start()
        .then(function () {
            connection.invoke('joinRoom', '@Model.Id');
        })
        .catch(function (err) {
            console.log(err)
        })

    window.addEventListener('onunload', function () {
        connection.invoke('leaveRoom', '@Model.Id');
    })

    var sendMessage = function (event) {
        event.preventDefault();

        var data = new FormData(event.target);
        document.getElementById('message-input').value = '';
        axios.post('/Chat/SendMessage', data)
            .then(res => {
                console.log("Message Sent!")
            })
            .catch(err => {
                console.log("Failed to send message!")
            })
    }

</script>
