@using WebApp.ViewModels.Chat
@model ChatListingMessages_VM

<p class="header-text text-color-black"><i class="fa fa-commenting"></i> Message @Model.RecieverName</p>
<div class="flex-column padding-50 h-100 scroll-allow" id="messagesDiv">
    <input hidden id="ChatId" value="@Model.ChatId" />
    <input hidden id="SenderId" value="@Model.SenderId" />
    <input hidden id="RecieverId" value="@Model.RecieverId" />

    @foreach (var i in Model.MessagesList)
    {
        <div class="d-block">
            <div class="@(i.SenderId != Model.RecieverId ? "background-light margin-right-25 div-align-left text-align-left border-radius-left" : "background-dark margin-left-25 div-align-right text-align-right border-radius-right") w-75 d-inline-block margin-5 padding-20 text-color-white">
                <p class="small-text text-color-darkgray">@i.SendingDate.ToString("dd/MM/yyyy hh:mm dddd")</p>
                <p> @i.MessageContent</p>
            </div>
        </div>
    }


</div>

<div class="d-block">
    <input id="messageInput" placeholder="Write your message.." class="w-75 h-100 padding-5" /> <button id="sendMessageButton" class="btn btn-secondary float-right w-25 h-100" onclick="javasctipt: SendNewMessage();">Send <i class="fa fa-level-up"></i></button>
</div>


<script>


    function SendNewMessage() {
        connection.invoke("AddUserToGroup", $("#ChatId").val()).catch(function (err) {
            console.log(err.toString());
        });

        var messageContent = $("#messageInput").val();
        $.post("/Chat/SendNewMessage?ChatId=" + $("#ChatId").val() + "&Message=" + messageContent + "&User2Id=" + $("#RecieverId").val());
        connection.invoke("SendMessageToGroup", $("#ChatId").val(), $("#SenderId").val(), messageContent).catch(function (err) {
            console.log(err.toString());
        });
    }


    //connection.on("RemovedFromGroup", function (Group, User) {
    //    console.log("Removed -> group=" + Group + " / user=" + User);
    //});
    //connection.on("AddedToGroup", function (Group, User) {
    //    console.log("Added -> group=" + Group + " / user=" + User);
    //});

    connection.on("RecieveMessage", function (Group, Sender, Message) {
        if ($("#ChatId").val() !== Group)
            return;

        var div = document.createElement("div");
        div.className = "d-block";

        var div2 = document.createElement("div");
        div2.className = "background-light margin-right-25 div-align-left text-align-left border-radius-left";
        if (Sender !== $("#SenderId").val())
            div2.className = "background-dark margin-left-25 div-align-right text-align-right border-radius-right";
        div2.className += " w-75 d-inline-block margin-5 padding-20 text-color-white";

        var p = document.createElement("p");
        p.className = "small-text text-color-darkgray";
        var today = new Date();
        var day = today.getDay();
        var daylist = ["Sunday", "Monday", "Tuesday", "Wednesday ", "Thursday", "Friday", "Saturday"];
        p.innerHTML = today.getDay() + "/" + today.getMonth() + "/" + today.getFullYear() + " " + today.getHours() + ":" + today.getMinutes() + " " + daylist[day];

        var p2 = document.createElement("p");
        p2.innerHTML = Message;

        div2.appendChild(p);
        div2.appendChild(p2);

        div.appendChild(div2);
        var parent = document.getElementById("messagesDiv");
        parent.appendChild(div);
        parent.scrollTop = parent.scrollHeight;
    });


    //const connection = new signalR.HubConnectionBuilder()
    //    .withUrl("/chatHub/")
    //    .configureLogging(signalR.LogLevel.Information)
    //    .build();

    ////$(window).on("load", function () {
    ////    connection.invoke("AddUserToGroup", $("#ChatId").val()).catch(function (err) {
    ////        console.log(err.toString());
    ////    });
    ////});



    //document.getElementById("sendMessageButton").disabled = true;

    //connection.on("RemovedFromGroup", function (Group, User) {
    //    console.log("Removed -> group=" + Group + " / user=" + User);
    //});
    //connection.on("AddedToGroup", function (Group, User) {
    //    console.log("Added -> group=" + Group + " / user=" + User);
    //});

    //connection.on("RecieveMessage", function (Group, Sender, Message) {
    //    if ($("#ChatId").val() !== Group)
    //        throw new Error("error bacen");

    //    var div = document.createElement("div");
    //    div.className = "d-block";

    //    var div2 = document.createElement("div");
    //    div2.className = "background-light margin-right-25 div-align-left text-align-left border-radius-left";
    //    if (Sender !== $("#SenderId").val())
    //        div2.className = "background-dark margin-left-25 div-align-right text-align-right border-radius-right";
    //    div2.className += " w-75 d-inline-block margin-5 padding-20 text-color-white";

    //    var p = document.createElement("p");
    //    p.className = "small-text text-color-darkgray";
    //    var today = new Date();
    //    var day = today.getDay();
    //    var daylist = ["Sunday", "Monday", "Tuesday", "Wednesday ", "Thursday", "Friday", "Saturday"];
    //    p.innerHTML = today.getDay() + "/" + today.getMonth() + "/" + today.getFullYear() + " " + today.getHours() + ":" + today.getMinutes() + " " + daylist[day];

    //    var p2 = document.createElement("p");
    //    p2.innerHTML = Message;

    //    div2.appendChild(p);
    //    div2.appendChild(p2);

    //    div.appendChild(div2);
    //    var parent = document.getElementById("messagesDiv");
    //    parent.appendChild(div);
    //    parent.scrollTop = parent.scrollHeight;
    //});

    //connection.start().then(function () {
    //    document.getElementById("sendMessageButton").disabled = false;
    //    connection.invoke("AddUserToGroup", $("#ChatId").val()).catch(function (err) {
    //        console.log(err.toString());
    //    });
    //}).catch(function (err) {
    //    console.log(err.toString());
    //});

    //window.addEventListener("beforeunload", function () {
    //    alert("on unload");
    //    connection.hub.stop().done(function () {
    //        alert('stopped');
    //    });
    //});

    //function SendNewMessage() {
    //    var messageContent = $("#messageInput").val();
    //    $.post("/Chat/SendNewMessage?ChatId=" + $("#ChatId").val() + "&Message=" + messageContent + "&User2Id=" + $("#RecieverId").val());
    //    connection.invoke("SendMessageToGroup", $("#ChatId").val(), $("#SenderId").val(), messageContent).catch(function (err) {
    //        console.log(err.toString());
    //    });
    //}


</script>