@using WebApp.ViewModels.Administration
@model List<CustomersOptions_VM>


<table class="table">
    <thead class="table-primary">
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Age</th>
            <th>Country</th>
            <th>City</th>
            <th>Phone</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr class="cursor focus-border" onclick="location.href = '/Administration/GetUserDetails?UserId=@user.Id'">
                <td>@user.Name</td>
                <td>@user.Surname</td>
                <td>@user.Age</td>
                <td>@user.Country</td>
                <td>@user.City</td>
                <td>@user.Phone</td>
                <td>@user.Email</td>
            </tr>
        }
    </tbody>
</table>


