@using WebApp.ViewModels.Administration
@model GetProgramDetails_VM

@{
    var allowModifications = Model.ProgramDetails.ProgramState != WebApp.EntityModels.ProgramState.Approved;
}

<div class="d-flex flex-flow-wrap column-spread">
    <div class="box-desc">Title</div>
    <div class="box-val">@Model.ProgramDetails.Name</div>
    <div class="box-desc">Creator</div>
    <div class="box-val">@Model.ProgramDetails.Creator</div>
    <div class="box-desc">Created</div>
    <div class="box-val">@Model.ProgramDetails.Date_Created.ToString("dd MMM yyyy")</div>
    <div class="box-desc">Last state change</div>
    <div class="box-val">@Model.DateStateChanged.ToString("dd MMM yyyy HH:mm")</div>
    <div class="box-desc">Last access change</div>
    <div class="box-val">@Model.DateAccessChanged.ToString("dd MMM yyyy HH:mm")</div>
    <div class="box-desc">Number of sells</div>
    <div class="box-val">@Model.NumberOfSells</div>
    <div class="box-desc">Expected price</div>
    <div class="box-val">@Model.ProgramPriceExpected BAM</div>
    <div class="box-desc">Total income (sells)</div>
    <div class="box-val">@Model.TotalPriceOfSellsExpected BAM</div>
    <div class="box-desc">Access</div>
    <div class="box-val" id="ProgramAccessID">@Model.ProgramDetails.ProgramAccess</div>
    <div class="box-desc">Status</div>
    <div class="box-val" id="ProgramStatusID">@Model.ProgramDetails.ProgramState</div>

</div>

<p class="margin-top-50">This program, made by <strong>@Model.ProgramDetails.Creator</strong>, can be modified by administrators. Once administrator change program it will become private and change status to OnHold. Creator should approve administrators changes before program can be applied. To modify program press the button at bottom of the page.</p>
<div id="BuildProgramDiv">

</div>
@if (allowModifications == true)
{
    <button onclick="javascript: AddDay(0, true);" class="btn-gradient d-block div-align-center padding-10 margin-bottom-20"><i class="bi bi-plus-circle-fill"></i> ADD NEW DAY</button>
}

<div class="d-flex from-row-to-column padding-bottom-50 justify-content-center w-f-content div-align-center padding-5 border-top border-dark">
    <a class="margin-5 text-color-black" onclick="javascript: ChangeState('@Model.ProgramDetails.Id', 'Change state', '@Model.ProgramDetails.ProgramState');"><i class="bi bi-arrow-bar-right"></i> Change state</a>
    <a class="margin-5 text-color-black" onclick="javascript: ChangeAccess('@Model.ProgramDetails.Id', 'Change access', '@Model.ProgramDetails.ProgramAccess');"><i class="bi bi-binoculars-fill"></i> Change access</a>
    <a class="margin-5 text-color-red" asp-action="RemoveProgram" asp-controller="Program" asp-route-ProgramId="@Model.ProgramDetails.Id" ><i class="bi bi-shield-fill-x"></i> REMOVE</a>
</div>




<script>
    $(document).ready(function () {
        LoadProgram('@Model.ProgramDetails.Id', '@Model.ProgramDetails.Name', 'BuildProgramDiv', false, ('@allowModifications' === "True" ? true : false));
    });
</script>