@using WebApp.ViewModels.Administration
@model GetProgramDetails_VM

@{
    var allowModifications = Model.ProgramDetails.ProgramState != WebApp.EntityModels.ProgramState.Approved;
}

<div>
    <table class="table">
        <tr class="table-primary switch-to-column">
            <th>Title</th>
            <td>@Model.ProgramDetails.Name</td>
            <th>Creator</th>
            <td>@Model.ProgramDetails.Creator</td>
            <th>Created</th>
            <td>@Model.ProgramDetails.Date_Created.ToShortDateString()</td>
            <th>Last state change</th>
            <td>@Model.DateStateChanged.ToShortDateString()</td>
            <th>Last access change</th>
            <td>@Model.DateAccessChanged.ToShortDateString()</td>
        </tr>
    </table>
    <table class="table">
        <tr class="table-primary switch-to-column">
            <th>Number of sells</th>
            <td>@Model.NumberOfSells</td>
            <th>Expected price</th>
            <td>@Model.ProgramPriceExpected BAM</td>
            <th>Total income of program sells</th>
            <td>@Model.TotalPriceOfSellsExpected BAM</td>
            <th>Access</th>
            <td id="ProgramAccessID">@Model.ProgramDetails.ProgramAccess</td>
            <th>Status</th>
            <td id="ProgramStatusID">@Model.ProgramDetails.ProgramState</td>
        </tr>
    </table>
</div>

<p class="margin-top-50">This is program made by @Model.ProgramDetails.Creator, that can be modified by administrators. Once administrator change program it will become private and change status to OnHold. Creator has to approve administrators changes before program can be applied. To modify program press the button at bottom of the page.</p>
<div id="BuildProgramDiv">
    @*<h3 id="ProgramNameID"></h3>
        <div id="DaysDiv" class="div-section-list-item">
        </div>*@
</div>
@if (allowModifications == true)
{
    <button onclick="javascript: AddDay(0, true);" class="btn-danger d-block div-align-center padding-10 margin-bottom-20"><i class="bi bi-plus-circle-fill"></i> ADD NEW DAY</button>
}

<div class="d-flex flex-row switch-to-column padding-bottom-50">
    <button onclick="javascript: ChangeState('@Model.ProgramDetails.Id', 'Change state', '@Model.ProgramDetails.ProgramState');" class="w-100 padding-20 btn-danger"><i class="bi bi-arrow-bar-right"></i> Change state</button>
    <button onclick="javascript: ChangeAccess('@Model.ProgramDetails.Id', 'Change access', '@Model.ProgramDetails.ProgramAccess');" class="w-100 padding-20 btn-danger"><i class="bi bi-binoculars-fill"></i> Change access</button>
    <a class="w-100 padding-20 btn btn-danger border-radius-0" asp-action="AddProgramFeedback" asp-controller="Administration" asp-route-ProgramId="@Model.ProgramDetails.Id"><i class="bi bi-binoculars-fill"></i> Add feedback</a>
    <button onclick="location.href = '/Program/RemoveProgram?ProgramId=@Model.ProgramDetails.Id'" class="w-100 padding-20 btn-danger"><i class="bi bi-shield-fill-x"></i> REMOVE</button>
</div>




<script>
    $(document).ready(function () {
        LoadProgram('@Model.ProgramDetails.Id', '@Model.ProgramDetails.Name', 'BuildProgramDiv', false, ('@allowModifications' === "True" ? true : false));
    });
</script>