@using WebApp.ViewModels.Administration
@model CustomerDetails_VM

<div class="flex-section-row from-row-to-column column-reverse">
    <div class="flex-section-row-child-50 d-flex flex-column justify-content-between">
        <table class="table">
            <thead>
                <tr>
                    <th class="table-primary">Name</th>
                    <td>@Model.CustomerDetails.Name</td>
                </tr>
                <tr>
                    <th class="table-primary">Surname</th>
                    <td>@Model.CustomerDetails.Surname</td>
                </tr>
                <tr>
                    <th class="table-primary">Age</th>
                    <td>@Model.CustomerDetails.Age</td>
                </tr>
                <tr>
                    <th class="table-primary">Country</th>
                    <td>@Model.CustomerDetails.Country</td>
                </tr>
                <tr>
                    <th class="table-primary">City</th>
                    <td>@Model.CustomerDetails.City</td>
                </tr>
                <tr>
                    <th class="table-primary">Phone</th>
                    <td>@Model.CustomerDetails.Phone</td>
                </tr>
                <tr>
                    <th class="table-primary">Email</th>
                    <td>@Model.CustomerDetails.Email</td>
                </tr>
            </thead>
        </table>

        <table class="table margin-0">
            <thead>
                <tr>
                    <th class="table-primary">Registered</th>
                    <td>@Model.DateRegistered.ToShortDateString()</td>
                </tr>
                <tr>
                    <th class="table-primary">Collaborate (currently)</th>
                    <td>@(Model.CurrentlyOnPlan ? "Yes" : "No")</td>
                </tr>
                <tr>
                    <th class="table-primary">Number of collaborations</th>
                    <td>@Model.NumberOfPlansOredered</td>
                </tr>
            </thead>
        </table>

    </div>
    <div class="flex-section-row-child-50 d-flex flex-column justify-content-between padding-20">
        @if (Model.IsVIP == true)
        {
            <div class="flex-section-row justify-content-center table-danger">
                <div class="margin-5">
                    <h1><i class="bi bi-star-fill text-color-yellow"></i></h1>
                </div>
                <div class="padding-5">
                    <h2 class="text-color-yellow">VIP</h2>
                    <h6 class="text-color-white">This client has VIP status.</h6>
                </div>
            </div>
        }


        <div class="user-select-none">
            <div class="d-flex justify-content-center"><h2>PROGRAMS</h2></div>
            <div class="flex-section-row justify-content-around border-bottom border-info padding-5 margin-top-50">
                <h3 class="flex-section-column text-center"><i onmouseover="javascript: ShowHoverInfo(this, 'Accepted programs');" class="text-color-green bi bi-check2"></i> @Model.NumberOfPlansCreated_Accepted</h3>
                <h3 class="flex-section-column text-center"><i onmouseover="javascript: ShowHoverInfo(this, 'Refused programs');" class="text-color-red bi bi-dash-circle"></i> @Model.NumberOfPlansCreated_Refused</h3>
                <h3 class="flex-section-column text-center"><i onmouseover="javascript: ShowHoverInfo(this, 'Programs waiting approval');" class="text-color-yellow bi bi-hourglass-split"></i> @Model.NumberOfPlansCreated_OnHold</h3>
            </div>
            <div class="border-bottom border-dark d-flex justify-content-around padding-5 margin-top-50"> <h3 class="flex-section-column text-center"><i onmouseover="javascript: ShowHoverInfo(this, 'Created programs');" class="text-color-yellow bi bi-hammer"></i> @Model.NumberOfPlansCreated</h3>  <h3 class="flex-section-column text-center"><i onmouseover="javascript: ShowHoverInfo(this, 'Ordered programs');" class="text-color-green bi bi-bag-check"></i> @Model.NumberOfPlansOredered</h3></div>
        </div>
    </div>
</div>

<p class="margin-top-25 font-italic">List of ordered programs</p>
<table class="table w-100 overflow-auto table-to-block">
    <thead class="table-light">
        <tr>
            <th>Title</th>
            <th>Ordered</th>
            <th>Start</th>
            <th>Finish</th>
            <th>Single/Group</th>
            <th>Finished</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var orderedPlan in Model.PlansOrdered_Redirection)
        {
            <tr>
                <td>@orderedPlan.Title</td>
                <td>@orderedPlan.DateOrdered.ToShortDateString()</td>
                <td>@orderedPlan.DateStart.ToShortDateString()</td>
                <td>@orderedPlan.DateFinish.ToShortDateString()</td>
                <td>@(orderedPlan.ForGroup == true ? "Group" : "Single")</td>
                <td>@(orderedPlan.Finished == true ? "Finished" : "Active")</td>
            </tr>
        }
    </tbody>
</table>

<p class="margin-top-25 font-italic">List of created programs</p>
<table class="table w-100 overflow-auto margin-bottom-50">
    <thead class="table-light">
        <tr>
            <th>Title</th>
            <th>Created</th>
            <th>Number of sells</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var createdPlan in Model.PlansCreated_Redirection)
        {
            <tr>
                <td>@createdPlan.Title</td>
                <td>@createdPlan.DateCreated.ToShortDateString()</td>
                <td>@createdPlan.NumberOfSells</td>
            </tr>
        }
    </tbody>
</table>