@using WebApp.ViewModels.Login
@model Registration_VM


<style>
    .PasswordModification {
        display: none;
    }
</style>

<div class="padding-bottom-50 text-center">
    <form class="form" asp-action="LogOut" asp-controller="Login">
        <label class="form-label">To log out press button down bellow.</label>
        <button class="btn-red" type="submit">Log out</button>
    </form>
</div>

<div class="padding-top-50 border-top border-info">
    <img src="~/Images/Embedded/settings.png" alt="Settings" class="img-size-200 padding-50 mx-auto d-block div-align-center" />
    <form id="FormId" class="form" asp-action="UpdateAccountInfo" asp-controller="Login">
        <label class="form-label">Enter your first name</label>
        <input class="form-input" name="Name" asp-for="Name" value="@Model.Name" />
        <label class="form-label">Enter your last name</label>
        <input class="form-input" name="Surname" asp-for="Surname" value="@Model.Surname" />
        <label class="form-label">Enter your email adress</label>
        <input class="form-input" name="Email" asp-for="Email" value="@Model.Email" />
        <label class="form-label">Enter your country</label>
        <input class="form-input" name="Country" asp-for="Country" value="@Model.Country" />
        <label class="form-label">Enter your city</label>
        <input class="form-input" name="City" asp-for="City" value="@Model.City" />
        <label class="form-label">Enter your age</label>
        <input class="form-input" name="Age" asp-for="Age" value="@Model.Age" />

        <label class="form-label">Enter your phone</label>
        <input class="form-input" name="Phone" asp-for="Phone" value="@Model.Phone" />

        <a class="btn btn-light margin-top-5" onclick="javascript: TogglePasswordModification();">&#128477; Change password</a></td>

        <div class="PasswordModification">
            <label class="form-label">Enter your password</label>
            <input class="form-input" name="Password" asp-for="Password" value="@Model.Password" />
            <label class="form-label">Enter your password again</label>
            <input class="form-input" name="ConfirmPassword" asp-for="ConfirmPassword" value="@Model.Password" />
        </div>

        <br />
        <button type="submit" value="Save Changes">Save changes</button>
    </form>
</div>

@if (Model.IsAdmin == true)
{
    <div class="d-flex justify-content-around margin-top-50 padding-top-50 padding-bottom-50 border-top border-info from-row-to-column column-spread">
        <div>
            <h5>You have administrator permissions</h5>
            <p>Add new administrator (search user and click on it)</p>
            <div class="margin-top-50 border-top border-dark w-75 padding-20">
                <div class="d-flex justify-content-around">
                    <label class="margin-0">Search users: </label>
                    <input id="search_person" oninput="javascript: GetUsers();" class="w-50" type="text" />
                </div>
                <div id="searchResult" class="div-section-list-item">

                </div>
            </div>
        </div>
        <div>
            <h3>ADMINISTRATORS</h3>
            <p>Click to subtract administrator permissions</p>
            <table class="table">
                @foreach (var admin in Model.Admins)
                {
                    <tr>
                        <td>@admin.Item2</td>
                        <td><a class="btn btn-danger w-f-content" asp-action="UnSetAdmin" asp-controller="Login" asp-route-UserId="@admin.Item1"><i class="bi bi-x"></i></a></td>
                    </tr>
                }
            </table>
        </div>
    </div>
}

@if (Model.Purchases.Any())
{
    <p class="w-100 margin-top-50 padding-5 border-top border-info">List of program purcheses.<br />Click on row to see more details about specific purchase.</p>
    <table class="table table-light table-responsive-xl w-100">
        <thead>
            <tr>
                <th>Created</th>
                <th>Creator</th>
                <th>Program</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in Model.Purchases)
            {
                <tr class="cursor focus-hover focus-border" onclick="location.href='/Purchase/GetProgramPurchasesDetails?PurchaseId=@p.Id'">
                    <td>@p.Created.ToString("dd. MMM yyyy. HH:mm")</td>
                    <td>@(p.IsCreator ? "Yes" : "No")</td>
                    <td>@p.ProgramName</td>
                </tr>
            }
        </tbody>
    </table>
}

<script>

    function GetUsers() {
        var value = $("#search_person").val();
        $.get("/Login/GetUsers?searchValue=" + value, function (result, status) {
            if (status === "success") {
                $("#searchResult").html(result);
            }
        });
    }

    //function SetPearsonAdmin(UserId) {
    //    $.get("/Login/SetAdmin?UserId=" + UserId, function (result, status) {
    //        if (status === "success") {
    //            Message("You successfully added new administrator (check admin list).");
    //        }
    //    });
    //}

    $.validator.addMethod(
        "regex",
        function (value, element, regexp) {
            var re = new RegExp(regexp);
            return this.optional(element) || re.test(value);
        },
        "Please check your input."
    );

    $("#FormId").validate({
        rules: {
            Name: "required",
            Surname: "required",
            Email: "required",
            Password: {
                required: false,
                minlength: 6
            },
            ConfirmPassword: {
                required: false,
                equalTo: "#Password"
            },
            Age: {
                required: true,
                min: 18
            }
        },
        messages: {
            Name: "This field is required.",
            Surname: "This field is required.",
            Email: "Please enter valid email format.",
            Password: "Password must have at least 6 characters.",
            ConfirmPassword: "You entered two different passwords.",
            Age: "This field is required (minimum value: 18)."
        },
        wrapper: 'span',
        errorPlacement: function (label, element) {
            label.addClass('errorClass');
            label.insertAfter(element);
        }
    });

    function TogglePasswordModification() {
        $(".PasswordModification").toggle("display");
    }
</script>