@using WebApp.ViewModels.Login
@model Registration_VM


<style>
    td {
        min-width: 200px;
    }

    .PasswordModification {
        display: none;
    }


    
</style>

<div class="flex-section-row">
    <div class="flex-section-column flex-section-row-child-50">
        <img src="~/Images/Embedded/settings.png" alt="Settings" class="img-size-200 padding-50 mx-auto" />
        <div class="div-section-list-item padding-50">
            <a class="btn btn-secondary" asp-action="LogOut" asp-controller="Login">Log Out</a> <br />
            <a class="btn btn-secondary" asp-action="Index" asp-controller="Statistics">History</a> <br />
        </div>
    </div>
    <form id="FormId" class="flex-section-row-child-50" asp-action="UpdateAccountInfo" asp-controller="Login">
        <table>
            <tr>
                <td><label>Enter your first name</label></td>
                <td>
                    <input name="Name" asp-for="Name" value="@Model.Name" />
                </td>
            </tr>
            <tr>
                <td><label>Enter your last name</label></td>
                <td>
                    <input name="Surname" asp-for="Surname" value="@Model.Surname" />
                </td>
            </tr>
            <tr>
                <td><label>Enter your email adress</label></td>
                <td>
                    <input name="Email" asp-for="Email" value="@Model.Email" />
                </td>
            </tr>
            <tr>
                <td><label>Enter your country</label></td>
                <td>
                    <input name="Country" asp-for="Country" value="@Model.Country" />
                </td>
            </tr>
            <tr>
                <td><label>Enter your city</label></td>
                <td>
                    <input name="City" asp-for="City" value="@Model.City" />
                </td>
            </tr>
            <tr>
                <td><label>Enter your age</label></td>
                <td>
                    <input name="Age" asp-for="Age" value="@Model.Age" />
                </td>
            </tr>
            <tr>
                <td><label>Enter your phone</label></td>
                <td>
                    <input name="Phone" asp-for="Phone" value="@Model.Phone" />
                </td>
            </tr>
            <tr>
                <td><a class="btn btn-info" onclick="javascript: TogglePasswordModification();">&#128477; Change password</a></td>
            </tr>
            <tr class="PasswordModification">
                <td><label>Enter your password</label></td>
                <td>
                    <input name="Password" asp-for="Password" value="@Model.Password" />
                </td>
            </tr>
            <tr class="PasswordModification">
                <td><label>Enter your password again</label></td>
                <td>
                    <input name="ConfirmPassword" asp-for="ConfirmPassword" value="@Model.Password" />
                </td>
            </tr>
        </table>
        <br />
        <input class="btn btn-primary" type="submit" value="Save Changes" />
    </form>
</div>

<script>

    $.validator.addMethod(
        "regex",
        function (value, element, regexp) {
            var re = new RegExp(regexp);
            return this.optional(element) || re.test(value);
        },
        "Please check your input."
    );

    $("#FormId").validate({
        rules: {
            Name: "required",
            Surname: "required",
            Email: "required",
            Password: {
                required: false,
                minlength: 6
            },
            ConfirmPassword: {
                required: false,
                equalTo: "#Password"
            },
            Age: {
                required: true,
                min: 18
            }
        },
        messages: {
            Name: "This field is required.",
            Surname: "This field is required.",
            Email: "Please enter valid email format.",
            Password: "Password must have at least 6 characters.",
            ConfirmPassword: "You entered two different passwords.",
            Age: "This field is required (minimum value: 18)."
        },
        wrapper: 'span',
        errorPlacement: function (label, element) {
            label.addClass('errorClass');
            label.insertAfter(element);
        }
    });

    function TogglePasswordModification() {
        $(".PasswordModification").toggle("display");
    }
</script>