@using WebApp.EntityModels
@model List<Notification>
@{
    var msg = (string)TempData["msg"];
}

<style>
    main {
        padding: 0px !important;
    }
</style>


@if (msg != null)
{
    <div class="warning-message">@msg</div>
}
<div class="bg-image margin-bottom-50">
    <p class="text-color-lightgray">
        <span class="font-weight-bold font-family-quicksand margin-5">“To travel is to open windows of the heart and welcome newness ”</span>
        <span class="font-size-20px"><br />― Anamika Mishra, Dreamcatcher: A Tale of Hope & Love</span>
    </p>
</div>

<div class="line">
    <p>Search programs</p>
</div>

<div class="max-width-1000px text-center font-family-eras-itc">
    <h5 class="font-weight-bold">Create and order program for </h5>
    <p>After you log in, you can start creating your program. We will show you interesting landmarks and you choose what you want to visit and when. You can also search for programs that are ready to be ordered.</p>
</div>

<div id="programsPreview" class="font-family-ubuntu">

</div>

@if (Model.Any())
{
    <div class="notifications from-row-to-column column-no-space column-spread margin-top-50">
        <div id="notifications-details">

        </div>
        <div class="notification-list">
            @foreach (var notif in Model)
            {
                <p class="text-color-lightblue d-inline-block"><img src="/Images/Embedded/blue-bell.png" alt="" /> @notif.DateCreated.ToString("dd MMM") @notif.DateCreated.ToString("HH:mm")</p>
                <h4 onclick="javascript: GetNotificationDetails('@notif.Id');">@notif.Title</h4>
            }
        </div>
    </div>
}

<div class="line">
    <p>Need help?</p>
</div>

<div class="max-width-1000px text-center font-family-eras-itc">
    <h5 class="font-weight-bold">Conntact us via e-mail to get more info!</h5>
    <p>Send an e-mail if you need help or more info. You can also find us on social networks. We will reply as soon as possible.</p>
</div>

<div class="margin-bottom-50 margin-top-50 d-flex background-pyramid-blue from-row-to-column column-spread section-bg-parent">
    <img class="section-bg" src="~/Images/Embedded/section-bg-1.jpg" alt="" />
    <div class="custom-a">
        <div>
            <h4 class="text-pyramid-yellow">Explore</h4>
            <p>Let us help you explore Bosnia and Herzegovina. It is country full of landmarks worth visiting wherever you are coming from.</p>
        </div>
    </div>
    <div class="custom-a">
        <div class="margin-top-25">
            <h4 class="text-pyramid-yellow">Contact us</h4>
            <p>Feel free to send us a message and we will reply in no time. You can chat with us via this app or you can send us an email.</p>
        </div>
    </div>
    <div class="custom-a">
        <div class="margin-top-50">
            <h4 class="text-pyramid-yellow">Build</h4>
            <p>We are ready to take you on adventure you create. Build your own program and demand your wishes. We will make it happen.</p>
        </div>
    </div>

</div>

<div class="line">
    <p>Our friends</p>
</div>

<div class="max-width-1000px text-center font-family-eras-itc">
    <h5 class="font-weight-bold">Our friends and partners that work with us!</h5>
    <p>As travel agency, we collaborate with many companies to provide the best service for our clients.</p>
</div>



<div class="position-relative">

    <div id="sponsors">

    </div>
</div>




<footer id="footer" class="section-bg-parent">
    <img class="section-bg" src="~/Images/Embedded/world-map.jpg" alt="" />   
    <img src="~/Images/Embedded/company_logo.jpg" alt="" />
    <div class="align-items-center">
        <table>
            <tr>
                <td class="padding-5"><i class="fa fa-map-marker pr-10"></i></td>
                <td class="padding-5 border-left-simple text-left">Bosnia & Herzegovina<br />Zenica<br />Branilaca Bosne 14</td>
            </tr>
            <tr>
                <td class="padding-5"><i class="fa fa-phone pr-10"></i></td>
                <td class="padding-5 border-left-simple text-left">+387/62-973-830</td>
            </tr>
            <tr>
                @*<td class="padding-5"><i class="fa fa-envelope-o pr-10"></i></td>*@
                <td class="padding-5"><i class="fas fa-envelope-open"></i></td>
                <td class="padding-5 border-left-simple text-left">respectzajim@gmail.com</td>
            </tr>
        </table>
    </div>
    <div>
        <h3 class="text-center">Links</h3>
        <a class="a-btn" asp-action="Index" asp-controller="Catalog">Catalog</a>
        <a class="a-btn" asp-action="Index" asp-controller="Chat">Contact</a>
        <a class="a-btn" asp-action="Index" asp-controller="Program">Programs</a>
        <a class="a-btn" asp-action="Index" asp-controller="Purchase">Purchases</a>
    </div>
    <p class="rsv">2021 - New Respect - Travel Agency</p>
</footer>



<script>
    function GetNotificationDetails(notificationId) {
        $.get("/Notification/GetNotificationDetails?NotificationId=" + notificationId, function (result, status) {
            if (status === "success") {
                $("#notifications-details").html(result);
            }
        });
    }

    var interval;
    $(document).ready(function () {
        getPrograms([], 3);
        interval = setInterval(function () {
            var ids = [];
            var addedprograms = document.getElementById("programsPreview").children;
            for (var i = 0; i < addedprograms.length; i++) {
                ids.push(addedprograms.item(i).id.split('_')[1]);
            }
            getPrograms(ids, 1);
        }, 7000);
        GetNotificationDetails('@Model.Select(s=>s.Id).FirstOrDefault()');
        getSponsors();
    });

    function getPrograms(ids, num) {
        $.ajax({
            url: "/Program/GetProgramPreviews",
            method: "POST",
            data: {
                filterIds: ids,
                numberOfPrograms: num
            },
            success: function (result, status) {
                if (status === "success") {
                    $("#programsPreview").append(result);
                    var count = $("#programsPreview").children().length;
                    if (count > 3) {
                        count = count - 3;

                        for (var i = 0; i < count; i++) {
                            $("#programsPreview").children().first().remove();
                        }
                    }
                }
            },
            error: function (xhr) {
                if (xhr.status == 406) {
                    // killing interval because there is no need for it as there is no enough programs to show
                    clearInterval(interval);
                }
            }
        });
    }

    function getSponsors() {
        $.get("/Sponsor/GetSponsorsInfo", function (result, status) {
            if (status === "success") {
                $("#sponsors").html(result);
            }
        });
    }

    $(document).ready(function () {
        setTimeout(function () {
            $(".warning-message").remove();
        }, 5000);
    });
</script>
