@using WebApp.ViewModels.Program
@model CreateCustomProgram_VM


<div class="padding-bottom-50">
    <div id="CreateProgramDiv">
        <h3 class="margin-0">Create new program</h3>
        <p>
            Here you can design completely new program for yourself. You can pick places you want to visit, things you want to do, food you want to eat. Build your own
            experience while visiting Bosnia and Herzegovina.
        </p>

        <h5>Start by giving a title to your program</h5>
        <input placeholder="My program" id="ProgramName" type="text" />
        <h6 id="ProgramNameWarning" class="text-color-red hidden">This program name is not valid or is already in use.</h6>

        <p class="margin-top-25">Program you create will be private by default.</p>
        <button onclick="javascript: CreateProgram();" class="btn-primary padding-5">START CREATING PROGRAM</button>

        <div class="flex-section-row justify-content-between align-items-center sectionMargin">
            <div class="horizontal-line w-15"></div>
            <h6 class="padding-5">or</h6>
            <div class="horizontal-line w-75"></div>
        </div>

        <p>
            You can keep modifying your previous programs. You can only modify programs that are not yet accepted by administration. Otherwise conntact administration
            and demand to allow you to do that by changeing program status. Once you change program it will demand administration approval again.
        </p>

        <table class="table">
            <thead class="table-primary">
                <tr>
                    <th>Title</th>
                    <th>Created</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var program in Model.OldPrograms)
                {
                    var allowMods = (program.AllowModification.ToString().ToLower() == "true" ? "true" : "false");                    
                    <tr class="cursor focus-border" onclick="javascript: LoadProgram('@program.Id', '@program.Title', 'BuildProgramDiv', true, @allowMods);">
                        <td>@allowMods</td>
                        <td>@program.Title</td>
                        <td>@program.DateCreated.ToShortDateString()</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>


    <div id="BuildProgramDiv" class="hidden margin-bottom-20">


    </div>



    <div>
        <button id="AddDayButtonID" onclick="javascript: AddDay(0, true);" class="btn-danger w-50 div-align-center padding-5 margin-0 hidden"><i class="bi bi-plus-circle-fill"></i> ADD NEW DAY</button>
        <section class="margin-top-50 border-top border-dark">
            <p>You are done and happy with how your program is built. Click button and order program for yourself or group.</p>
            <button class="btn-primary padding-5 w-50 div-align-center d-block margin-0" onclick="location.href = '/Purchase/PurchaseProgram'">Purchase</button>
        </section>
    </div>

</div>
