@using WebApp.ViewModels.Program
@model List<GetActivityAttachments_VM>




<div class="position-relative d-flex flex-wrap justify-content-start w-100 border-custom-light padding-5 max-height-300 overflow-auto margin-5">
    <button onclick="javascript: ClearAttachments(this);" class="padding-5 zIndexUp close-button"><i class="bi bi-x"></i></button>

    @foreach (var attachment in Model)
    {
        <div class="d-flex w-100 margin-bottom-20">
            @{ var image = string.IsNullOrEmpty(attachment.ImageName) ? "default.jpg" : attachment.ImageName; }
            <img class="attachment-image object-fit-contain" alt="" src="~/Images/Administration/@image" />
            <div class="w-100 d-flex">
                <div class="d-flex flex-column flex-1 align-items-center">
                    <h6 class="attachment-type">@attachment.TypeOfAttachment</h6>
                    <h3 class="attachment-title flex-1">@attachment.Name <span class=" zIndexUp" onmouseover="ShowHoverInfo(this, '@attachment.Description');"><i class="bi bi-info-circle-fill font-size-13px"></i></span></h3>
                    <h6 class="attachment-price min-w-130">Price: <strong>@Math.Round(attachment.PriceToVisit, 2) BAM (@(Math.Round(attachment.PriceToVisit / 1.95, 2)) €)</strong></h6>
                </div>
                <button class="margin-5" onclick="javascript: AddAttachmentToActivity('@attachment.Id', '@attachment.ActivityId', '@attachment.Day');"><i class="bi bi-plus font-size-20px"></i></button>
            </div>
        </div>


    }


</div>







