@using WebApp.ViewModels.Purchase
@model GetProgramPurchasesDetails_VM

@using WebApp.EntityModels;
@using WebApp.Helper;
@{
    UserAccount account = Context.GetLoggedUser();
    var isAdmin = account.Role == UserRole.Admin;
}

<section class="d-flex justify-content-around margin-bottom-50 from-row-to-column">
    <div>
        <h5 class="h5-tag-style">Created</h5> <h6 class="text-center margin-bottom-20">@Model.DateCreated.ToShortDateString()</h6>
    </div>
    <div>
        <h5 class="h5-tag-style">Creator</h5> <h6 class="text-center margin-bottom-20">@Model.Creator</h6>
    </div>
    <div class="position-relative">
        <h5 class="h5-tag-style">Title</h5> <h6 class="text-center margin-bottom-20">@Model.ProgramName <a class="rate-star" asp-action="RateProgram" asp-controller="Program" asp-route-ProgramId="@Model.ProgramId"><i class="bi bi-star-fill text-color-orange"></i></a></h6>
    </div>
    <div>
        <h5 class="h5-tag-style">Participants</h5> <h6 class="text-center margin-bottom-20">@Model.Participants.Count()</h6>
    </div>
</section>


@if (isAdmin)
{
    <div class="d-flex flex-row align-items-center margin-bottom-20">
        <p class="margin-0">To create an invoice for this program click on this button.</p>
        <a asp-action="GetInvoices" asp-controller="Purchase" class="btn btn-danger margin-side-10"><i class="bi bi-receipt"></i> Issue an invoice</a>
    </div>
}
@if (Model.InvoiceId > 0)
{
    <div class="d-flex flex-row align-items-center margin-bottom-20">
        <p class="margin-0">This program has invoice attached to it.</p>
        <a asp-action="IssueAnInvoice" asp-controller="Purchase" asp-route-InvoiceId="@Model.InvoiceId" class="btn btn-primary margin-side-10"><i class="bi bi-receipt"></i> Show invoice details</a>
    </div>
}
<p>All participants for this purchase are listed in table down bellow. If you want to add new one click 'Add participant'</p>
<table class="table">
    <thead class="table-primary ">
        <tr>
            <th>Name</th>
            <th>Coutry</th>
            <th>City</th>
            <th>Age</th>
            <th class="w-50px">Remove</th>
        </tr>
    </thead>
    <tbody id="UserTable">
        @foreach (var participant in Model.Participants)
        {
            <tr id="User_@participant.ParticipantId">
                <td>@participant.Name</td>
                <td>@participant.Country</td>
                <td>@participant.City</td>
                <td>@participant.Age</td>
                <td class="cursor w-50px text-center" onclick="location.href = '/Purchase/RemoveUserFromPurchase?PurchaseId=@Model.PurchaseId&UserId=@participant.ParticipantId'"><i class="bi bi-x-square text-color-red"></i></td>
            </tr>
        }
    </tbody>
</table>

<div class="text-center margin-top-25">
    <p class="border-bottom focus-hover d-inline-block cursor padding-5" onclick="javascript: AddNewPurchaseParticipant('@Model.ProgramName', '@Model.PurchaseId');">ADD PARTICIPANT</p>
</div>



<script>
    function AddUserToPurchase(e, UserId) {
        var PurchaseId = e.parentNode.id.substr(e.parentNode.id.length - 1, 1);
        $.get("/Purchase/AddUserToPurchase?PurchaseId=" + PurchaseId + "&UserId=" + UserId, function (result, status) {
            if (status == "success") {
                Message("User successfully added to purchase.");
            }
        });

    }

    function AddNewPurchaseParticipant(Title, PurchaseId) {

        var content = document.createElement("div");

        var h4 = document.createElement("h4");
        h4.textContent = "Add registered user";

        var input = document.createElement("input");
        input.className = "w-100";
        var searchinput = document.createElement("div");
        searchinput.id = "Purchase_" + PurchaseId;
        input.addEventListener("input", function () {
            $.get("/Purchase/GetUsersToAddToPurchase?PurchaseId=" + PurchaseId + "&SearchValue=" + input.value, function (result, status) {
                if (status == "success") {
                    searchinput.innerHTML = result;
                }
            });
        });

        var formdiv = document.createElement("div");
        formdiv.className = "border-top border-dark padding-5 margin-top-25";
        $.get("/Login/AddParticipantForm", function (result, status) {
            if (status == "success") {
                formdiv.innerHTML = result;
            }
        });
        content.appendChild(h4);
        content.appendChild(input);
        content.appendChild(searchinput);
        content.appendChild(formdiv);

        MakeCustomModal(Title + " purchase participants", content, false, function () { });
    }
</script>