@using WebApp.ViewModels.Purchase
@model IssueAnInvoice_VM


<div class="d-flex align-items-center justify-content-center">
    <p class="margin-0 margin-right-25">You can attach this invoice to specific purchase.</p>
    <a asp-action="AttachInvoiceToPurchase" asp-controller="Purchase" asp-route-InvoiceId="@Model.Invoice.Id" class="btn btn-success"><i class="bi bi-save-fill"></i> Attach invoice</a>
</div>

<form class="form wide-form" asp-action="UpdateAnInvoice" asp-controller="Purchase">
    <input class="hidden" type="number" asp-for="@Model.Invoice.Id" value="@Model.Invoice.Id" />
    <section id="content" class="box-shadow-small sectionMargin padding-20">
        @*header*@
        <div class="margin-bottom-20 d-flex from-row-to-column">
            <div class="w-50">
                <h5 class="text-color-green">New respect d.o.o</h5>
                <h5 class="text-color-green">www.new-respect.com</h5>
                <div>
                    <input class="form-input" asp-for="@Model.Invoice.Adress" type="text" placeholder="Adress" />
                    <input class="form-input" asp-for="@Model.Invoice.CountryCityPostal" type="text" placeholder="Country-City-Postal Code" />
                    <input class="form-input" asp-for="@Model.Invoice.PhoneFax" type="text" placeholder="Phone-Fax" />
                    <input class="form-input" asp-for="@Model.Invoice.Email" type="text" placeholder="Email" />
                    <div class="d-flex justify-content-between"><h5>PDV num. </h5><input class="form-input" asp-for="@Model.Invoice.PDVNumber" placeholder="PDV num" /></div>
                </div>
            </div>
            <div class="w-50 d-flex justify-content-center align-items-center">
                <img alt="" src="~/Images/Embedded/company_logo.jpg" />
            </div>
        </div>
        @*customer*@
        <div class="margin-bottom-20 d-flex justify-content-end switch-to-column">
            <div class="w-50 position-relative padding-50 d-flex flex-column justify-content-center align-items-center">
                <div class="corner-border"></div>
                <div class="corner-border"></div>
                <div class="corner-border"></div>
                <div class="corner-border"></div>

                <input class="form-input" asp-for="@Model.Invoice.CustomerCountry"  placeholder="Country" />
                <input class="form-input" asp-for="@Model.Invoice.Customer"  placeholder="Customer" />
            </div>
        </div>
        @*data*@
        <div class="margin-bottom-20">
            <div class="d-flex flex-column justify-content-end align-items-end switch-to-column">
                <div class="d-flex align-items-center font-weight-bold"><h5 class="margin-top-5">ESTIMATE </h5><input asp-for="@Model.Invoice.EstimateNumber"  class="form-input margin-5 text-center" /></div>
                <div class="d-flex align-items-center switch-to-column"><h6 class="margin-top-5 w-fit-content">Place and date of issue </h6><input asp-for="@Model.Invoice.PlaceOfIssue"  placeholder="Place" class="form-input margin-5 text-center" /><input asp-for="@Model.Invoice.DateOfIssue"  type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-input margin-5" /></div>
            </div>

            <div class="d-flex flex-column justify-content-center align-items-center padding-20">
                <div id="tables" class="d-flex flex-column align-content-center">
                    <table id="InvoiceTable_Id" class="table table-secondary w-auto">
                        @for (int i = 0; i < Model.Invoice.TableRows; i++)
                        {
                            <tr>
                                @for (int j = 0; j < Model.Invoice.TableColumns; j++)
                                {
                                    <td onclick="javascript: CreateTextArea(this, @i, @j);">
                                        @Model.Table.Where(w => w.Row == i && w.Column == j).Select(s => s.Value).FirstOrDefault()
                                    </td>
                                }
                            </tr>
                        }
                    </table>

                </div>
                <div class="d-flex flex-column justify-content-center align-items-center toRemove">
                    <label>Insert table</label>
                    <div class="d-flex">
                        <input id="Rows"  class="form-input margin-5 text-center" type="number" placeholder="Rows" />
                        <input id="Columns"  class="form-input margin-5 text-center" type="number" placeholder="Columns" />
                    </div>

                    <button type="button" id="CreateTable_Id" onclick="javascript: CreateNewTable();" class="btn-white-black w-100 padding-5 font-weight-bold">Create</button>
                </div>
                <a id="RemoveTable_Id" asp-action="RemoveInvoiceTable" asp-controller="Purchase" asp-route-InvoiceId="@Model.Invoice.Id" class="btn btn-white-black w-100 padding-5 font-weight-bold hidden">Remove table</a>
            </div>
        </div>
        @*info*@
        <div class="margin-bottom-20 switch-to-column">

            <table class="w-75 switch-to-column">
                <tr class="switch-to-column">
                    <td><label class="margin-0">Datum isporuke (date of delivery)</label></td>
                    <td><input asp-for="@Model.Invoice.DateOfDelivery"  class="form-input h-50 w-100" type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" /></td>
                </tr>
                <tr class="switch-to-column">
                    <td><label class="h-50 margin-0">Izmireno (settled)</label></td>
                    <td class="d-flex justify-content-between align-items-center">
                        <label class="margin-left-5 margin-bottom-0 font-weight-bold">BAM</label><input asp-for="@Model.Invoice.SettledInBAM"  class="form-input h-50 w-40perc" type="number" id="value_bam" />
                        <label class="margin-left-5 margin-bottom-0 font-weight-bold">EUR</label><input  class="form-input h-50 w-40perc margin-left-5" type="number" id="value_eur" value="@Math.Round(Model.Invoice.SettledInBAM / 1.95, 2)" />
                    </td>
                </tr>
                <tr class="switch-to-column">
                    <td><label class="h-50 margin-0">Slovima (total - in words)</label></td>
                    <td><input asp-for="@Model.Invoice.TotalInWords"  class="form-input h-50 w-100" type="text" /></td>
                </tr>
                <tr class="switch-to-column">
                    <td><label class="h-50 margin-0">Nacin plaćanja (method of payment) </label></td>
                    <td><input asp-for="@Model.Invoice.MethodOfPayment"  class="form-input h-50 w-100" type="text" /></td>
                </tr>
                <tr class="switch-to-column">
                    <td><label class="h-50 margin-0">Rok za plaćanje (deadline for payment) </label></td>
                    <td><input asp-for="@Model.Invoice.DeadlineForPayment"  class="form-input h-50 w-100" type="text" /></td>
                </tr>
            </table>

            <div class="margin-top-50 w-75 border-bottom border-dark">
                <label class="font-weight-bold">Account to pay: €</label><input asp-for="@Model.Invoice.AccountToPay"  class="form-input margin-left-5 w-300px" type="text" placeholder="bank account" />
            </div>
        </div>
        @*signature and seal*@
        <div class="d-flex margin-bottom-20 padding-50 margin-top-25 margin-bottom-20 switch-to-column">
            <div class="w-75 d-flex justify-content-center align-items-center">
                <h2 class="seal">SEAL</h2>
            </div>
            <div class="w-25 d-flex flex-column align-items-center justify-content-end">
                <h6>Director</h6>
                <input asp-for="@Model.Invoice.Director"  type="text" class="form-input text-center" />
            </div>
        </div>
        @*bank accounts*@
        <div class="d-flex text-color-green from-row-to-column">
            <div class="w-50 d-flex flex-column">
                <h5>Additional bank account</h5>
                <input asp-for="@Model.Invoice.AdditionalBankAccount" class="form-input" type="text" />
                @*<button class="btn-white-black font-weight-bold toRemove" onclick="javascript: AddNewAccount();">Add bank account</button>*@
                @*<div id="accounts" class="d-flex flex-column">

                    </div>*@
            </div>
            <div class="w-50 d-flex flex-column justify-content-center align-items-center">
                <h6>New Respect Travel Agency</h6>
                <div class="overflow-hidden text-center">
                    <img class="img-size-200 object-fit-contain" alt="" src="~/Images/Embedded/company_logo.jpg" />
                </div>
            </div>
        </div>


    </section>
    <button type="submit">Save</button>
</form>







<script>

    function CreateNewTable() {
        var rows = $("#Rows").val();
        var columns = $("#Columns").val();
        if (rows < 1 || rows > 25 || columns < 1 || columns > 15) {
            Message("Range: Rows (1-25) - Columns (1-15)");
            return;
        }
        var table = document.createElement("table");
        table.id = "InvoiceTable_Id";
        table.className = "table table-bordered w-auto";
        for (var i = 0; i < rows; i++) {
            var tr = document.createElement("tr");
            for (var j = 0; j < columns; j++) {
                var td = document.createElement("td");
                td.className = "table-cell padding-5";
                td.addEventListener("click", function (e) {
                    CreateTextArea(e.target, i, j);
                });
                tr.appendChild(td);
                CreateTextArea(td, i, j);
            }
            table.appendChild(tr);
        }
        document.getElementById("tables").appendChild(table);
        $(".toRemove").remove();
        $("#RemoveTable_Id").removeClass("hidden");
        $.post("/Purchase/CreateInvoiceTable?InvoiceId=" + '@Model.Invoice.Id' + "&Rows=" + rows + "&Columns=" + columns);
    }



    function CreateTextArea(e, row, col) {
        var value = e.innerHTML;
        var textarea = document.createElement("textarea");
        textarea.className = "padding-5 w-100";
        textarea.addEventListener("blur", function (s) {
            var value2 = s.target.value;
            if (value2 !== "") {
                e.innerHTML = "";
                e.append(value2);
            }

            $.post("/Purchase/SetTableData?InvoiceId=" + '@Model.Invoice.Id' + "&Row=" + row + "&Column=" + col + "&Value=" + value2);
        });
        if (e.children.length == 0)
            textarea.value = value;
        e.innerHTML = "";
        e.append(textarea);
    }






    $(document).ready(function () {
        Message("Don't forget to save your work, or everything will be lost. To save click the button at bottom of the page.");

        if (parseInt('@Model.Invoice.TableRows') > 0 && parseInt('@Model.Invoice.TableColumns') > 0) { //.Any()' === "True") {
            $(".toRemove").remove();
            $("#RemoveTable_Id").removeClass("hidden");
        }
    });

    $("#value_bam").on("blur", function (e) {
        var value = e.target.value;
        $("#value_eur").val((value / 1.95).toFixed(2));
        SetInputBorderVisibility(document.getElementById("value_eur"));
    });

    $("#value_eur").on("blur", function (e) {
        var value = e.target.value;
        $("#value_bam").val((value * 1.95).toFixed(2));
        SetInputBorderVisibility(document.getElementById("value_bam"));
    });
</script>